html,body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    
}
.menu{

    background: #2c3e50;
    padding: 20px 226px;
    position: fixed;
    z-index: 999;
}
.menu ul{
    margin:0px;
    padding:0px;
    text-align: center;
}
.menu ul li{
    list-style: none;
    margin:0 20px;
    display: inline;

}
.menu ul li a{
    color:#fff;
    font-size: 1em;
    line-height:1em;
    text-transform: uppercase;
    text-decoration: none;
    padding:15px 20px;
    display: inline-block;
    font-weight:700;
transition: 0.5sec;

}
.menu ul li a.active{
    background:#e91e63;

}
.menu ul li:hover{
    background:#e91e63;
}
.section1{
    min-height:70vh;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:5em;
    text-transform: uppercase;
    font-weight: 100px;
    color:red;
}
.section2{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:5em;
    text-transform: uppercase;
    font-weight: 100px;
    color:red;
}
.section3{
    min-height: 100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1em;
    
    font-weight: 100px;
    color:black;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.section4{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1em;
    
  
    
 
}
.section5{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:5em;
    text-transform: uppercase;
    font-weight: 100px;
    color:red;
}
.section6{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:4em;
    text-transform: uppercase;
    font-weight: 100px;
    color:black;
}
section:nth-child(odd)
{
    background-color:rgb(250, 248, 249);
}
section:nth-child(even){
    background-color:bisque;
}
.icons{
    float:right;
    margin-right: 10px;
    
}
.icons :hover{
    transform: scaleX(0.5);
}
/*catogories*/
.grid-container {
    display: grid;
    grid-gap: 70px 80px;
    grid-template-columns: auto auto auto auto auto;
    background-color: antiquewhite;
    padding: 10px;
    margin-left: 50px;
    margin-right: 10px;  
  }  
  .grid-item {
    background-color: rgb(158, 148, 130); 
    font-size: 30px;
    text-align: center;
    height: 300px;
    width: 200px;
  }
 
  .txt{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.box{
  border: 1px;
  padding: 10px;
  background-color:red;
  display: block;

}
/*
.box:hover{
  transform: scale(0.9);
}
*/

.grid-item1 img{
  height: 600px;
  width: 550px;
   margin-left: 280px;
  
  /*box-shadow: 0px 5px 15px 5px;*/
}

.text1{
  float: right;
  margin-top: 100px;
  padding-right: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  cursor: pointer;
  
}
.text2{
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.txt1{
  float: right; 
  cursor: pointer;
}
.btn{
  padding: 20px;

  cursor: pointer;
  color:white;
  background-color: black;
  padding: 15px 32px;
  text-align: center;
  border: none;
}
.btn:hover{
  color:black;
  background-color: white;
}
.material-icons:hover{
  color:red;
}
.no {
  padding: 10px;
  padding: 15px 32px;
  text-align: center;
  border: none;
  cursor: pointer;
  color:black;
  
}
.no:hover{
  color:black;
  background-color: pink;
  
}

.main-container{
 position :relative;
}



.grid-container2 img:hover{
  transform:scale(1.2)
}

.grid-container2 {
  position:absolute;
  display: grid;
  grid-template-columns: auto ;
  grid-gap: 10px;
  
}

.grid-container2  div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px ;
  text-align: center;
  font-size: 30px;
  height: 300px;
  width: 200px;
  
}

/* testimonial alignment*/
.Testimonial{
  position:relative; 
  border:1px solid black;
  width:90%;
  height:fit-content;
  background-color:rgb(235, 217, 227);
  display:inline-grid;
  grid-template-columns:auto auto auto ;
  column-gap:2px;
  left:50px;
  padding-left:20px;
  padding-bottom:30px;
  
}

.Testitem{
  position:relative;
  cursor: pointer;
  margin:20px;
  width:300px;
height:350px;
background-color: rgb(224, 224, 235);
border: 1px solid rgb(31, 139, 139);
padding:20px;
border-radius: 40px;
}
#invertedcomma{
  position:absolute;
  top:120px;
  left:10px;
}
.Testitem p{
  position:absolute;
  top:40%;
}

.Testitem h4{
  position:absolute;
  top:15px;
  left:80px;
}
#photo{
  border-radius: 30px;
  margin-left: 0px;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(204, 63, 63);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #b96363;
}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/*experiment 1*/

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: rgb(207, 165, 165);
  
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 25%;
  justify-content: center;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: rgb(241, 231, 231);
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgb(173, 164, 164);
  padding: 20px;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.container{
  position:relative;
  max-width: 1170px;
  background-color: rgb(14, 13, 13);
  margin:auto;
}
.Footer{
  background-color: rgb(15, 14, 15);
  padding:50px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.row{
display:flex ;
}
ul{
  position:relative;
  list-style-type:none;
  line-height:180%;
  left:-40px;

}
.footer-col{
  width:25%;
  padding:0 10px;
}
.footer-col h4{
  font-size: 18px;
  text-transform: capitalize;
  position:relative;
  color:rgb(227, 227, 233)
}
.footer-col h4::before{
  content:'';
  position:absolute;
  bottom:-10px;
  height:2px;
  width:100px;
  background-color: red;

}
.copyright p{
  position:absolute;
  margin:0;
  padding:0;
  background-color: rgb(97, 78, 78);
  left:100px;    
}
.footer-col li{
  color:white;
}
.footer-col i:hover{
  transform: scaley(1.4);

}