/*productsimages*/
.grid-item1{
    position :absolute;
   background-color: rgb(238, 235, 235);
    width:80%;
    height:800px;
    border: 5px solid;
    left:15%;
    
  }
  
  .grid-item1 img{
    height: 600px;
    width: 550px;
    
    /*box-shadow: 0px 5px 15px 5px;*/
  }
  .txt1{
    position:absolute;
    cursor: pointer;
    right:10%; 
    top:10%;
  }
  
  .text1{
    float: right;
    margin-top: 0px;
    padding-right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: pointer;
    
  }
  .text2{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }
  button{
      position: absolute;
      width:50px;
      height: 50px;
      left:50px;
  }
  
  #plus{
      width:50px;
      height: 50px;
  }
  /*.btn{
    padding: 20px;
  
    cursor: pointer;
    color:white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    border: none;
  }*/
  
  .btn:hover{
    color:black;
    background-color: white;
  }
  .material-icons:hover{
    color:rgb(223, 213, 213);
  }
  .no {
    padding: 0px;
    padding: 0px 0px;
    text-align: center;
    border: none;
    cursor: pointer;
    color:black;
    
  }
  .no:hover{
    color:black;
    background-color: pink;
    
  }
  
  .main-container{
   position :relative;
   
  }
  
  
  .grid-container2 img:hover{
    transform:scale(1.2)
  }
  
  .grid-container2 {
    position:absolute;
    display: grid;
    grid-template-columns: auto  ;
    grid-gap: 10px;
    
  }
  
  .grid-container2 div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px ;
    text-align: center;
    font-size: 30px;
    height: 300px;
    width: 200px;
    
  }